/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo {
		width: 170px;
	}
	header {
		padding: 0;
	}
	.menu ul li a {
		margin-bottom: 10px !important;
		padding: 0 12px !important;
	}
	.banner_text {
		text-align:center;
	}
	.bh1 {
		padding: 0 20px;
		font-size: 28px;
		font-weight: 700;
		line-height: 40px;
	}
	.bp2 {
		padding: 0;
		line-height: 24px;
	}
	.b_img {
		margin-bottom: 30px;
		padding: 0;
	}
	.c_padding {
		padding-bottom: 60px;
	}
	.single_feature {
		margin: 30px 0 0 0;
		padding: 40px 0;
	}
	.single_img {
		width: 50px;
		height: 70px;
	}
	.single_h2 {
		margin: 15px 0 0 0;
		font-size: 20px;
	}
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .logo {
		width: 180px;
	}
	header {
		padding: 0;
	}
	.menu ul li a {
		margin-bottom: 10px !important;
		padding: 0 12px !important;
	}
	.menu ul li a {
		margin-bottom: 10px !important;
		padding: 0 12px !important;
	}
	.banner_text {
		text-align: center;
	}
	.bh1 {
		padding: 0 70px;
		font-size: 34px;
		font-weight: 700;
		line-height: 40px;
	}
	.bp2 {
		padding: 0 25px;
		line-height: 24px;
	}
	.b_img {
		margin-bottom: 30px;
		padding: 0 30px;
	}
	.c_padding {
		padding-bottom: 60px;
	}
	.single_feature {
		margin: 30px 0 0 0;
		padding: 40px 0;
	}
	.single_img {
		width: 50px;
		height: 70px;
	}
	.single_h2 {
		margin: 15px 0 0 0;
		font-size: 20px;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .menu ul li a {
		margin-bottom: 10px !important;
		padding: 0 12px !important;
	}
	.banner_text {
		text-align: center;
	}
	.bh1 {
		padding: 0 90px;
	}
	.bp2 {
		padding: 0 90px;
	}
	.b_img {
		margin-bottom: 30px;
		padding: 0 50px;
	}
	.c_padding {
		padding-bottom: 80px;
	}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .bh1{
        font-size: 48px;
        font-weight: 700;
        line-height: 70px;
        margin:10px 0 20px;
        padding: 0 30px 0 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .bh1{
        font-size: 48px;
        font-weight: 700;
        line-height: 70px;
        margin:10px 0 20px;
        padding: 0 30px 0 0;
    }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
 }